@model AlphaViewModel;

<div>
    <h3 class="display-4">@Model.CarCaption</h3>
	<ul>
    @foreach(var car in Model.Cars)
	{
		<li>@car.Make @car.Model</li>
	}
	</ul>
	<hr />
	<h3 class="display-4">Car X</h3>
</div>
